doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
    link(rel='stylesheet', href='//cdn.rawgit.com/necolas/normalize.css/master/normalize.css')
    link(rel='stylesheet', href='//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/png', href='/favicon.png')
  body
    nav.container.navbar
      a(class="button button-outline" href="/") Mobile
      a(class="button button-outline" href="/desktop") Desktop
      a(class="button button-outline" href="/history") See History
    .container
      block content
  script(src='/scripts/main.js')
